figure {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

img[alt="Linda Andersson"] {
  border-radius: 50%;
  width: 20vw;
}

.socialmedia-title {
  padding: var(--simpel-padding);
}

.socialmedia-section {
  display: flex;
  padding: var(--simpel-padding);
  margin-bottom: 3em;
}
