iframe {
  width: 85vw;
  height: 70vh;
}

.desktop-frames {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
  padding: 1em 1.7em;
}

.desktop-frames {
  display: none;
}

.mobile-frames {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em 1.7em;
  margin-bottom: 2em;
}
