body {
  padding: 0 1em 1em 1em;
}

ul {
  padding: 1em 2em;
}

.main-nav {
  position: fixed;
  bottom: 1em;
  right: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .main-nav {
    bottom: 25em;
  }
}
